<!DOCTYPE html>
<html>
   <head><%- include("SKpartials/head", {title:"Spellbook Keeper"}); %></head>
   <body>
      <header>
         <%- include("SKpartials/header", {account} ); %>
      </header>
      
      <%if(account && account.books.length > 0) {%>
      <div id="toolbar">
         <button id="add" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" disabled>
            <i class="fa fa-plus"></i> Add To
         </button>
         <div id='add_menu' class="dropdown-menu">
            <% account.books.forEach(function (value) {%>
               <a class='dropdown-item' href="/sk/ToBook?funct=add&book_id=<%=value.id%>&spell_id=<%#selection list%>"><%=value.name%></a>
            <%}) %>
         </div>
      </div>
      <%}%>
      <div id="Spells" class='tab'>
         <table
           id="table"
           data-toolbar="#toolbar"     
           data-search="true"
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           data-detail-view="true"
           data-detail-view-by-click="true"
           data-detail-formatter="detailFormatter"
           data-minimum-count-columns="2"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[5, 10, 25, 50, 100, all]"
           data-show-footer="true"
           data-side-pagination="server"
           data-url="/sk/spelldata"
           data-response-handler="responseHandler">
         </table>
      </div>
      
      <div id="Spellbooks" class="collapse tab">
         <h3>My Spellbooks</h3>
         <% if(account){ %><%- include("SKpartials/spellBook", {account}) %>
         <% } else{ %>Sign In<%}%>
      </div>
      
      <div id="Manage" class="collapse tab">
         <% if(account){ %><%- include("SKpartials/newSpell", {schools, saves, lengths, sources, classes}) %>
         <% } else{ %>Sign In<%}%>
      </div>
      
      <script src="js/SpellbookKeeper.js"> </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> <!-- bootstrap all js -->
      <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->
   </body>
</html>